[submodule "sub-submodule"]
	path = /
	url = https://github.com/env1/test-git-sub-submodule/
[submodule "test-git-sub-submodule"]
	path = test-git-sub-submodule
	url = https://github.com/env1/test-git-sub-submodule/
